/* css Var */
:root {
    --primary: #25CCF7;
    --body-background :#f2f2f2;
    --white : #FFFFFF;
    --overlay-bg: rgba(255,255,255,.89);
    --dark-text:#5B5D6E;
}

/* Scss Var */

$header-height-sm: 82px;